<main class="relative flex flex-col items-center gap-4 h-screen py-4">
  <button
    (click)="backHome()"
    class="absolute top-4 left-4 bg-blue-500 text-[#f2f2f2] px-2 rounded-md hover:text-[#212121] hover:bg-blue-300 duration-300"
  >
    Home
  </button>
  <input
    class="text-xl text-center border-2 border-blue-500 rounded outline-none"
    type="text"
    [(ngModel)]="todolistName"
  />
  <div class="flex">
    <input
      type="text"
      class="text-center w-80 border-2 rounded-l border-blue-500 outline-none cursor-pointer"
      placeholder="Create a todo"
      [(ngModel)]="todo"
    />
    <button
      (click)="addTodo()"
      [disabled]="todo() === ''"
      class="bg-blue-500 text-white px-2 rounded-r text-center cursor-pointer hover:bg-blue-300 hover:text-[#212121] duration-300 select-none"
    >
      +
    </button>
  </div>
  <section class="flex grow flex-col gap-4 items-center overflow-auto min-h-16">
    @if(todos.length === 0){
    <h3>Nothing todo</h3>
    } @for(todo of todos; track $index){
    <div class="flex gap-4 items-center">
      <input
        id="todo{{ $index }}"
        type="checkbox"
        (change)="todos[$index].isChecked = !todos[$index].isChecked"
        [checked]="todos[$index].isChecked"
      />
      <label
        for="todo{{ $index }}"
        class="min-w-20 max-w-60 text-center select-none cursor-pointer"
        [ngClass]="{ 'line-through': todos[$index].isChecked }"
      >
        {{ todo.todo }}
      </label>
      <div>
        <mat-icon
          (click)="delete(todo.id)"
          class="text-[#A52A2A] text-2xl cursor-pointer"
          >delete</mat-icon
        >
      </div>
    </div>
    }
  </section>
  <button
    class="bg-blue-500 px-4 py-1 rounded-lg text-[#f2f2f2] hover:bg-blue-300 hover:text-[#212121] duration-300"
    (click)="save()"
  >
    Save
  </button>
</main>
